$importantColor: #0071BC;
$secondImportantColor: #29ABE2;
$gradientColor: linear-gradient(203deg, rgba(0,113,188,1) 35%, rgba(41,171,226,1) 100%);
$revertGradientColor: linear-gradient(0deg, rgba(0,113,188,1) 35%, rgba(41,171,226,1) 100%);
$btns: #27B3F6;
$blackGradientColor: #333E48;

$blackGradient: linear-gradient(45deg, rgba(40,57,68,1) 0%, rgba(56,71,80,1) 100%);
$whiteGrdient: linear-gradient(45deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 100%);

$brokenColor: #706d77;
$blackColor: #283944;
$whiteColor: #f5f5f5;
$exceptionColor: #3D4751;